.event-grid-section {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
.vendarSpanInfo {
  margin-left: 10px;
}
.vendarSpanTotal {
  margin-left: 30px;
}
.vendarH6Info {
  display: inline;
  padding-left: 18px;
}
